fastapi
uvicorn
streamlit
pdfplumber
pypdf
python-docx
pandas
python-pptx
openpyxl
python-multipart
chromadb
openai
python-dotenv
pytesseract
groq
beautifulsoup4
pymupdf
Pillow
langdetect
arabic-reshaper
python-bidi
sentence-transformers
transformers
torch
faiss-cpu
numpy
requests
tiktoken
langgraph>=1.0.0
langchain-core>=1.0.0
